<div class="container">
	<div class="col-lg-4 col-md-6 col-sm-12">
		<a ng-href="#/1617/BOU">
			<div class="t1">
				<img ng-src = "images/logo/BOU.png" class="img-responsive img-circle tm-border center-block" style="height:auto;width:120px">
					<h6 class="accent"></h6>
					<h4 class="text-center">AFC Bournemouth</h4>
				</div>
			</a>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-12">
			<a ng-href="#/1617/ARS">
				<div class="t2">
					<img ng-src = "images/logo/ARS.png" class="img-responsive img-circle tm-border center-block" style="height:auto;width:120px">
						<h6 class="accent"></h6>
						<h4 class="text-center">Arsenal</h4>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12">
				<a ng-href="#/1617/BUR">
					<div class="t1">
						<img ng-src = "images/logo/BUR.png" class="img-responsive img-circle tm-border center-block" style="height:auto;width:120px">
							<h6 class="accent"></h6>
							<h4 class="text-center">Burnley</h4>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<a ng-href="#/1617/CHE">
						<div class="t2">
							<img ng-src = "images/logo/CHE.png" class="img-responsive img-circle tm-border center-block" style="height:auto;width:120px">
								<h6 class="accent"></h6>
								<h4 class="text-center">Chelsea</h4>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<a ng-href="#/1617/CRY">
							<div class="t1">
								<img ng-src = "images/logo/CRY.png" class="img-responsive img-circle tm-border center-block" style="height:auto;width:120px">
									<h6 class="accent"></h6>
									<h4 class="text-center">Crystal Palace</h4>
								</div>
							</a>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<a ng-href="#/1617/EVE">
								<div class="t2">
									<img ng-src = "images/logo/EVE.png" class="img-responsive img-circle tm-border center-block" style="height:auto;width:120px">
										<h6 class="accent"></h6>
										<h4 class="text-center">Everton</h4>
									</div>
								</a>
							</div>
							<div class="col-lg-4 col-md-6 col-sm-12">
								<a ng-href="#/1617/HUL">
									<div class="t1">
										<img ng-src = "images/logo/HUL.png" class="img-responsive img-circle tm-border center-block" style="height:auto;width:120px">
											<h6 class="accent"></h6>
											<h4 class="text-center">Hull City</h4>
										</div>
									</a>
								</div>
								<div class="col-lg-4 col-md-6 col-sm-12">
									<a ng-href="#/1617/LEI">
										<div class="t2">
											<img ng-src = "images/logo/LEI.png" class="img-responsive img-circle tm-border center-block" style="height:auto;width:120px">
												<h6 class="accent"></h6>
												<h4 class="text-center">ALeicester City</h4>
											</div>
										</a>
									</div>
									<div class="col-lg-4 col-md-6 col-sm-12">
										<a ng-href="#/1617/LIV">
											<div class="t1">
												<img ng-src = "images/logo/LIV.png" class="img-responsive img-circle tm-border center-block" style="height:auto;width:120px">
													<h6 class="accent"></h6>
													<h4 class="text-center">Liverpool</h4>
												</div>
											</a>
										</div>
										<div class="col-lg-4 col-md-6 col-sm-12">
											<a ng-href="#/1617/MCI">
												<div class="t2">
													<img ng-src = "images/logo/MCI.png" class="img-responsive img-circle tm-border center-block" style="height:auto;width:120px">
														<h6 class="accent"></h6>
														<h4 class="text-center">Manchester City</h4>
													</div>
												</a>
											</div>
											<div class="col-lg-4 col-md-6 col-sm-12">
												<a ng-href="#/1617/MUN">
													<div class="t1">
														<img ng-src = "images/logo/MUN.png" class="img-responsive img-circle tm-border center-block" style="height:auto;width:120px">
															<h6 class="accent"></h6>
															<h4 class="text-center">Manchester United</h4>
														</div>
													</a>
												</div>
												<div class="col-lg-4 col-md-6 col-sm-12">
													<a ng-href="#/1617/MFC">
														<div class="t2">
															<img ng-src = "images/logo/MFC.png" class="img-responsive img-circle tm-border center-block" style="height:auto;width:120px">
																<h6 class="accent"></h6>
																<h4 class="text-center">Middlesbrough</h4>
															</div>
														</a>
													</div>
													<div class="col-lg-4 col-md-6 col-sm-12">
														<a ng-href="#/1617/SOU">
															<div class="t1">
																<img ng-src = "images/logo/SOU.png" class="img-responsive img-circle tm-border center-block" style="height:auto;width:120px">
																	<h6 class="accent"></h6>
																	<h4 class="text-center">Southampton</h4>
																</div>
															</a>
														</div>
														<div class="col-lg-4 col-md-6 col-sm-12">
															<a ng-href="#/1617/STK">
																<div class="t2">
																	<img ng-src = "images/logo/STK.png" class="img-responsive img-circle tm-border center-block" style="height:auto;width:120px">
																		<h6 class="accent"></h6>
																		<h4 class="text-center">Stoke City</h4>
																	</div>
																</a>
															</div>
															<div class="col-lg-4 col-md-6 col-sm-12">
																<a ng-href="#/1617/SUN">
																	<div class="t1">
																		<img ng-src = "images/logo/SUN.png" class="img-responsive img-circle tm-border center-block" style="height:auto;width:120px">
																			<h6 class="accent"></h6>
																			<h4 class="text-center">Sunderland</h4>
																		</div>
																	</a>
																</div>
																<div class="col-lg-4 col-md-6 col-sm-12">
																	<a ng-href="#/1617/SWA">
																		<div class="t2">
																			<img ng-src = "images/logo/SWA.png" class="img-responsive img-circle tm-border center-block" style="height:auto;width:120px">
																				<h6 class="accent"></h6>
																				<h4 class="text-center">Swansea City</h4>
																			</div>
																		</a>
																	</div>
																	<div class="col-lg-4 col-md-6 col-sm-12">
																		<a ng-href="#/1617/TOT">
																			<div class="t1">
																				<img ng-src = "images/logo/TOT.png" class="img-responsive img-circle tm-border center-block" style="height:auto;width:120px">
																					<h6 class="accent"></h6>
																					<h4 class="text-center">Tottenham Hotspur</h4>
																				</div>
																			</a>
																		</div>
																		<div class="col-lg-4 col-md-6 col-sm-12">
																			<a ng-href="#/1617/WAT">
																				<div class="t2">
																					<img ng-src = "images/logo/WAT.png" class="img-responsive img-circle tm-border center-block" style="height:auto;width:120px">
																						<h6 class="accent"></h6>
																						<h4 class="text-center">Watford</h4>
																					</div>
																				</a>
																			</div>
																			<div class="col-lg-4 col-md-6 col-sm-12">
																				<a ng-href="#/1617/WBA">
																					<div class="t1">
																						<img ng-src = "images/logo/WBA.png" class="img-responsive img-circle tm-border center-block" style="height:auto;width:120px">
																							<h6 class="accent"></h6>
																							<h4 class="text-center">West Bromwich Albion</h4>
																						</div>
																					</a>
																				</div>
																				<div class="col-lg-4 col-md-6 col-sm-12">
																					<a ng-href="#/1617/WHU">
																						<div class="t2">
																							<img ng-src = "images/logo/WHU.png" class="img-responsive img-circle tm-border center-block" style="height:auto;width:120px">
																								<h6 class="accent"></h6>
																								<h4 class="text-center">West Ham United</h4>
																							</div>
																						</a>
																					</div>
																				</div>